<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="NetMsmqBinding">
        </binding>
        <binding name="NetMsmqBinding2">
        </binding>
        <binding name="NetMsmqBinding3">
        </binding>
        <binding name="NetMsmqBinding4">
        </binding>
      </netMsmqBinding>
    </bindings>
    <client>
      <endpoint address="net.msmq://localhost/private/MyAwesomeEndpoint" binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding" contract="DistributorPatternForWcf.ISomeService" name="MyAwesomeEndpoint_1"/>
      <endpoint address="net.msmq://localhost/private/MyAwesomeEndpoint2" binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding2" contract="DistributorPatternForWcf.ISomeService" name="MyAwesomeEndpoint_2"/>
      <endpoint address="net.msmq://localhost/private/MyAwesomeEndpoint3" binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding3" contract="DistributorPatternForWcf.ISomeService" name="MyAwesomeEndpoint_3"/>
      <endpoint address="net.msmq://localhost/private/MyAwesomeEndpoint4" binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding4" contract="DistributorPatternForWcf.ISomeService" name="MyAwesomeEndpoint_4"/>
    </client>
  </system.serviceModel>
</configuration>
